<html>

<head>
    <title>
        Hotel JS
    </title>
<link rel="stylesheet" href="{{ url_for('static', filename="style.css") }}">
</head>
<body>
    <header>
    <div class="container nav">
      <a class="logo"  href="{{ url_for('index') }}" aria-label="Hotel JS">
        <span class="logo-badge" aria-hidden="true">
          <img id="logo" src="static/logo.jpg" width="40" height="40" alt="Tu mejor experiencia">
        </span>	
      </a>

      <input type="checkbox" id="nav-toggle" aria-label="Abrir menú" />
      <label for="nav-toggle" class="hamburger" aria-hidden="true"><span></span></label>

      <div class="menu" role="navigation" aria-label="principal">
        <a href="{{ url_for('crear_habitacion') }}">Crear Habitacion</a>
        <a href="{{ url_for('listar_clientes')}}">Registro Clientes</a>
        <a href="{{ url_for('Tipo_habitacion')}}">Tipo habitaciones</a>
        <a href="{{ url_for('consultar_habitaciones')}}">Consultar habitaciones</a>
        <a href="{{ url_for('listar_ciudades')}}">Ciudades</a>
        <a href="{{ url_for('crear_sucursal')}}">Sucursales</a>
        <a href="{{ url_for('consultar_reservas')}}">Reservas</a>
        <a href="{{ url_for('crear_cliente')}}">Crear Cliente</a>
        <a href="{{ url_for('logout') }}" class="btn btn-primary">Cerrar Sesion</a>
      </div>
    </div>
  </header>
    <h1>Crear Habitacion</h1>
    <nav id=""menu>
            <a href="{{ url_for('index') }}">Inicio</a>
        </nav>
        <footer>
    <div class="container foot-grid">
      <div>
        <a class="logo" href="#inicio">
          <span class="logo-badge" aria-hidden="true"><img id="logo" src="static/logo.jpg" width="40" height="40" alt="Tu mejor experiencia"></span>
          Hotel JS
        </a>
        <p style="margin-top:10px;">© <span id="year"></span> Hotel JS. Todos los derechos reservados.</p>
      </div>
      <div>
        <strong>Políticas</strong>
        <p class="subtle">Cancelación flexible • Check‑in 24/7 • Pet‑friendly.</p>
      </div>
      <div>
        <strong>Síguenos</strong>
        <p class="subtle">Instagram • Facebook • TikTok</p>
      </div>
    </div>
  </footer>
</body>
</html>